extends ../layouts/main.pug

block content
	table.table.table-stripped
		thead.thead-light
			tr
				th ID
				th Полное имя
				th Email
				th Дата создания
				th Действие
		tbody
			each user in users
				tr
					td #{user.id}
					td #{user.firstName} #{user.lastName}
					td #{user.email}
					td #{user.createdAt}
					td
						a.nav-link(href=`/users/${user.id}/edit`) Изменить
						form(action=`/users/${user.id}/delete` method='post')
							input(type="hidden" name="_method" value="DELETE")
							button.btn.btn-link(type="submit") Удалить
