extends ../layouts/main.pug

block content
	a.nav-link(href='/tags/new') Создать метку
	hr
	table.table.table-stripped
		thead.thead-light
			tr
				th ID
				th Наименование
				th Дата создания
				th Действие
		tbody
			each tag in tags
				tr
					td #{tag.id}
					td #{tag.name}
					td #{tag.createdAt}
					td
						a.nav-link(href=`/tags/${tag.id}/edit`) Изменить
						form(action=`/tags/${tag.id}` method='post')
							input(type="hidden" name="_method" value="DELETE")
							button.btn.btn-link(type="submit") Удалить