extends ../layouts/main.pug

block content
	a.nav-link(href='/labels/new') Создать метку
	hr
	table.table.table-stripped
		thead.thead-light
			tr
				th ID
				th Наименование
				th Дата создания
				th Действие
		tbody
			each label in labels
				tr
					td #{label.id}
					td #{label.name}
					td #{label.createdAt}
					td
						a.nav-link(href=`/labels/${label.id}/edit`) Изменить
						form(action=`/labels/${label.id}/delete` method='post')
							input(type="hidden" name="_method" value="DELETE")
							button.btn.btn-link(type="submit") Удалить